# Ansible generated

DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': "{{ awx_pg_database }}",
        'USER': "{{ awx_pg_username }}",
        'PASSWORD': "{{ awx_pg_password }}",
        'HOST': "{{ awx_pg_hostname|default('postgres') }}",
        'PORT': "{{ awx_pg_port }}",
    }
}
BROKER_URL = 'amqp://{}:{}@{}:{}/{}'.format(
    "{{ awx_rabbitmq_user }}",
    "{{ awx_rabbitmq_password }}",
    "rabbitmq",
    "5672",
    "awx")

CHANNEL_LAYERS = {
    'default': {'BACKEND': 'asgi_amqp.AMQPChannelLayer',
                'ROUTING': 'awx.main.routing.channel_routing',
                'CONFIG': {'url': BROKER_URL}}
}